<nav class="main">
  <div class="nav-wrapper green">
    <a href="/index" class="brand-logo"><img src="../../../../assets/images/pet.png" alt=""></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="seInicioSesion"><a routerLink="/parametros/listar-departamento">Departamento</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="/parametros/listar-ciudad">Ciudad</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="badges.html">Usuario</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="collapsible.html">Solicitar Adopoción</a></li>
      <li *ngIf="!seInicioSesion"><a routerLink="seguridad/iniciar-sesion">Login</a></li>
      <li *ngIf="seInicioSesion"><a routerLink="seguridad/cerrarSesion">LogOut</a></li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
  <div class="sideNav-mobile-container">
    <li *ngIf="seInicioSesion"><a href="/parametros/listar-departamento">Departamento</a></li>
    <li *ngIf="seInicioSesion"><a href="/parametros/listar-ciudad">Ciudad</a></li>
    <li *ngIf="seInicioSesion"><a href="badges.html">Usuario</a></li>
    <li *ngIf="seInicioSesion"><a href="collapsible.html">Solicitar Adopoción</a></li>
    <li *ngIf="!seInicioSesion"><a href="/seguridad/iniciar-sesion">Login</a></li>
    <li *ngIf="seInicioSesion"><a href="mobile.html">Sign Out</a></li>
  </div>

</ul>

