<nav>
  <div class="nav-wrapper color">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="seInicioSesion"><a href="/parametros/crear-departamento">Departamento</a></li>
      <li *ngIf="seInicioSesion"><a href="badges.html">Usuario</a></li>
      <li *ngIf="seInicioSesion"><a href="collapsible.html">Solicitar Adopoción</a></li>
      <li *ngIf="!seInicioSesion"><a href="seguridad/iniciar-sesion">Login</a></li>
      <li *ngIf="seInicioSesion"><a href="seguridad/cerrarSesion">LogOut</a></li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
  <div class="sideNav-mobile-container">
    <li *ngIf="seInicioSesion"><a href="/parametros/crear-departamento">Departamento</a></li>
    <li *ngIf="seInicioSesion"><a href="badges.html">Usuario</a></li>
    <li *ngIf="seInicioSesion"><a href="collapsible.html">Solicitar Adopoción</a></li>
    <li *ngIf="!seInicioSesion"><a href="/seguridad/iniciar-sesion">Login</a></li>
    <li *ngIf="seInicioSesion"><a href="mobile.html">Sign Out</a></li>
  </div>

</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">one<span class="badge">1</span></a></li>
  <li><a href="#!">two<span class="new badge">1</span></a></li>
  <li><a href="#!">three</a></li>
</ul>
<a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
