
.row {
  width: 100%;
  height: auto;
  min-width: 288px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.card-content {
  width: 90%;
  height: auto;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(242, 242, 250);
  margin: 0 auto;
}

.row button {
  width: 50%;
  align-self: center;
}
